<header>
    <nav>
        <ul>
            <li> <a href="/">home</a> </li>
            {{#if user}}
            <li> <a href="/account">account</a> </li>
            {{else}}
            <li> <a href="/register">register</a> </li>
            {{/if}}
        </ul>
    </nav>
    {{#if user}}
    <button class="logout-button" onclick="window.location.href='/logout'">Log out</button>
    {{else}}
      <button class="login-button">Log in</button>
    {{/if}}
</header>
