<div id="page">
{{> header}}
<main>
  <section>
    {{#if data}}
      <h1>Welcome: {{data.name}}</h1>
    {{else}}
      <h1>{{title}}</h1>
    {{/if}}
  </section>
  {{> loginForm}}
</main>
{{> footer}}
</div>

<script src="js/home.js"></script>
<script src="js/ajax/login.js"></script>
