<div id="page">
{{> header}}
<main>
  <section id="registration-form__container">
    <form id="registration-form" action="/register" method="post" onsubmit="checkIfValid(this)">
        <label for="name">Name</label>
        <input required name="name" type="text">
        <label for="birthdate">Birth Date</label>
        <input required name="birthdate" type="date">
        <label>Male</label>
        <input type="radio" name="sex" value="male" required>
        <label>Woman</label>
        <input type="radio" name="sex" value="woman" required>
        <label for="cuisine">Favorite cuisine</label>
        <select name="cuisine" required>
        <option value="chinese">Chinese</option>
        <option value="thai">Thai</option>
        <option value="eastern">Eastern</option>
        <option value="french">French</option>
        <option value="spanish">Spanish</option>
        <option value="japanese">Japanese</option>
        <option value="italian">Italian</option>
      </select>
        <label for="preference">Are you veg(an)</label>
        <select name="preference" required>
        <option value="neither">Neither</option>
        <option value="vegatarian">Vegatarian</option>
        <option value="vegan">Vegan</option>
      </select>
        <label for="location">Where would you like to date</label>
        <select name="location" required>
        <option value="no_preference">No Preference</option>
        <option value="restaurant">A restaurant</option>
        <option value="at_home">At home</option>
        <option value="someone_else">At someone else's place</option>
      </select>
        <label for="description">Give a short description of yourself</label>
        <textarea name="description" rows="5"></textarea>
        <label for="email">e-mail</label>
        <input name="email" required type="email" placeholder="name@domain.com" onchange="checkEmailAvailability()">
        <label for="password">Your password must contain at least one number and a capital character (min 8.)</label>
        <input id="passwordInput" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" type="password" placeholder="password" onkeyup="enableVerification()">
        <label for="password_verification">wachtwoord verifïeren:</label>
        <input id="passwordVerification" name="password_verification" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" type="password" disabled onkeyup="checkPasswords()">
      <input type="submit" value="register">
    </form>
    <span class="email-error"></span>
    <span class="password-error"></span>
  </section>
  {{> loginForm}}
</main>
{{> footer}}
</div>

<script src="js/registration.js"></script>
<script src="js/ajax/login.js"></script>
<script src="js/ajax/register.js"></script>
