@import './components/variables', './components/reset', './pages/home', './pages/register';

body {
  background-color: $background-color;
}

nav{
  height: 100%;
  & ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    & li{
      height: 100%;
      width: 33%;
      display: flex;
      & a {
        width: 30%;
        margin: auto;
        align-self: center;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: white;

      }
    }
  }
}

body {
  font-size: 18px;
}

div#page {
  width: 100vw;
  height: 100vh;
  & header {
    background-color: $dark-background-color;
    height: 10vh;
  }
  & main {
    height: 80vh;
  }
  & footer {
    background-color: $dark-background-color;
    height: 10vh;
  }
  & section {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    & h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      font-size: 3em;
    }
  }
}

span.error, span.password-error, span.email-error {
  color: red;
  position: absolute;
  bottom: 1em;
  right: 2em;
}

span.password-error {
  top: 1em;
}

span.email-error {
  top: 3em;
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  #registration-form__container {
    padding: 10px;
    & form#registration-form {
      width: 100%;
    }
  }
  div.login-form__container {
    & form {
      width: 80%;
    }
  }
}
