@import './components/variables', './components/reset';

body {
  background-color: $background-color;
}

nav{
  & ul{
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    & li{
      width: 25%;
    }
  }
}
